*{
    background-color: #121c25;
}
#landing__container{
    background-color:rgb(20, 35, 85);
    height:100vh;
    width:100vw;
    margin:0;
    padding:0;
}

.landing__content{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    height: 100vh;
    width:auto;
    z-index: 1;
}

#landing__nowboarding{
    max-width:309px;
}

#landing__mainlogo{
    padding: 0 0 1.5rem 0;
}

#landing__header{
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content:center;
}

p{
    font-family: ObjectivityLight;
    color: #fff;
    padding:0.4rem 0;
    font-size:25px;
    text-align:center;
}

.landing__buttons {
  display: flex;
  justify-content: space-between;
  padding: 2.75rem 0;
}

.landing-button {
  margin: 0 0.6rem;
}

/* Background items */
#landing__background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top:0;
  background-color: transparent;
}

@media screen and (max-width:800px){
  #landing__nowboarding{
    max-width:300px;
  }

  #landing__mainlogo{
    max-width:450px;
  }

  p{
    color: #fff;
    padding:0.25rem 0;
    font-size:25px;
    text-align:center;
  }
}

@media screen and (max-width:450px){
  #landing__nowboarding{
    max-width:209px;
  }
  #landing__mainlogo{
    max-width:300px;
  }

  p{
    color: #fff;
    padding:0.25rem 0;
    font-size:25px;
    text-align:center;
  }

  .landing-button {
    font-size: 0.8rem;
  }
}