.default-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;

    padding: 0.75rem 1.25rem;
    font-family: "Nulshock", sans-serif;
    font-size: 1rem;

    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 0.75rem;
    outline: none;
}

.default-btn-link {
    text-decoration: none;
}

.default-btn.primary {
    background: var(--primary-color);
}

.default-btn.secondary {
    background: var(--secondary-color);
}

.default-btn.navbar {
    background: var(--button-gradient);
}

@media screen and (max-width: 960px) {
    .default-btn {
        width: auto;
        height: 40px;
        padding: 0.3rem 1.75rem;
        margin: 0 1rem;
    }
}


@media screen and (max-width: 560px) {
    .default-btn {
        width: auto;
        height: 40px;
        padding: 0.1rem 1.5rem;
        margin: 0 1rem;
    }
}