.startups__container {
    display:flex;
    flex-direction: column;
    margin: 4rem;
    position: relative;
}

.startups__title {
    font-family: Nulshock, sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.startups__subtitle {
    font-size: 1.5rem;
    margin: 0 0 2rem 0;
}

.startups__wrapper {
    display: grid; 
    grid-template-columns: 0.5fr 2.5fr;
}

.black-text {
    color: black;
    text-align: left;
}

.startupname {
    font-size: 4rem;
    font-family: Nulshock, sans-serif;
    margin: 0 0 2rem 0;
}

.below {
    margin-top: 1rem;
}

.startups__content-wrapper {
    color: black;
    background-color: #FFFCF5;
    border: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 3rem;
    border-radius: 25px;
}

.startups__content-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.startups__header-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.expertise {
    font: ObjectivityMedium, sans-serif;
    font-size: 0.875rem;
}

.button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    width: 334px;
    height: 61px;
    left: 716px;
    top: 258px;
    background-color: #0B59B6;
}

.aboutus {
    font-size: 2rem;
    font-family: ObjectivityMedium, sans-serif;
}

.regular {
    font-size: 1rem;
    font-family: ObjectivityRegular, sans-serif;
    line-height: 1.5rem;
}

.startups__icons {
    display: flex;
}

.social-media-text {
    font-size: 1rem;
    font-family: ObjectivityRegular, sans-serif;
    padding: 0 0.875rem;
}

.socials {
    display: flex; 
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
    margin: 2rem 0;
}

.intern__wrapper {
    display: flex;
}

.intern__content {
    margin: 0 0.8rem;
}

.intern-title {
    font-size: 1.5rem;
    font-family: Nulshock, sans-serif;
    padding: 0 0 0.4rem 0;
}

.intern-details {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    text-align: center;
    align-items: center;
}

.commitment {
    font-family: ObjectivityMedium, sans-serif;
    font-size: 0.875rem;
}

#orange {
    background-color: #F97F3D;
    color: #FFF;
    font-family: ObjectivityBold, sans-serif;
    max-width: 174px;
    border-radius: 25px;
    font-size: 0.75rem;
    text-align: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    padding: 0.6rem;
}

#blue {
    background-color: #0B59B6;
    color: #FFF;
    font-family: ObjectivityBold, sans-serif;
    max-width: 174px;
    border-radius: 25px;
    font-size: 0.75rem;
    text-align: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    padding: 0.6rem;
}

#intern-text {
    font-family: ObjectivityRegular;
    font-size: 0.75rem;
    text-align: right;
    align-items: center;
}

#intern-cta {
    background: linear-gradient(89.74deg, #0B59B6 17.98%, #F97F3D 47.99%, #F2B330 109.5%);
    /* White */
    
    border: 7px solid #FAFAFA;
    border-radius: 8px;
    font-family: Nulshock, sans-serif;
    padding: 1rem;
    border-radius: 25px;
}

.marg {
    margin: 0 0 0.3rem 0;
}

@media screen and (max-width: 750px) {
    .startups__container {
        display:flex;
        flex-direction: column;
        margin: 0 2rem;
    }
}

@media screen and (max-width: 500px) {
    .startups__title {
        font-family: 'Nulshock';
        font-size: 2rem;
        margin-bottom: 0.75rem;
        color: #FAFAFA;
    }

    .startups-btn {
        font-size: 1rem;
        border: 4px solid #fff;
        padding: 0.6rem;
        margin: 1.3rem 0;
    }
}