body {
    background-color: #282c34;
    color: white;
    font-family: Nulshock;
}

.planet__border { 
    border-radius: 90%;
    background: linear-gradient(110deg, rgba(230, 125, 58, 1), rgba(242, 176, 49, 1));
    width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.planet__content {
    border-radius: 90%;
    background-color:gray;
    width: 87%;
    height: 87%;
}

.startups__content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.startup__pagename {
    align-self: center;
}

@media screen and (max-width: 380px) {
    .startup__planet__row {
        text-align: center;
        margin-top: 1rem;
        flex-direction: column;
    }
}

@media screen and (max-width: 744px) {
    .startup__planet__row {
        text-align: center;
        margin-top: 1rem;
        flex-direction: column;
    }
}