.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Backgrounds that intersect sections */
#landing__bars {
  background-color: transparent;
  position: absolute;
  top:400px;
  right:40px;
  z-index:0;
  height: 800px;
}

@media screen and (max-width:800px){ 
/* Backgrounds that intersect sections */
#landing__bars {
  background-color: transparent;
  position: absolute;
  top:500px;
  right:40px;
  z-index:0;
  height: 700px;
}
}

@media screen and (max-width:450px){
  /* Backgrounds that intersect sections */
#landing__bars {
  background-color: transparent;
  position: absolute;
  top:500px;
  right:-20px;
  z-index:0;
  height: 450px;
}
}